@use 'base/_variables.scss' as *;    // 変数（色、フォントサイズ、ブレイクポイントなど）
@use 'base/_mixins.scss' as *;

.work{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  // margin-top: 50px;
  &__item{
    position: relative;
    background: #fff;
    // padding: 20px;
    // margin: 20px;
  }
  &__link{
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: all 1s;
    }
    &:hover::before{
      background: rgb(211, 211, 211);
      opacity: 0.5;
    }
  }

  &__img-area{
    aspect-ratio: 3/2;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text-area{
    padding: 5px;
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

}
