// カラーパレット
$color-primary: #fff;
$color-secondary: #E0EFFF;
$color-accent: #FFE760;
$color-accent-2nd:#007AFF;
$color-text: #333;
$color-border: #333;

// フォント
$font-family-base: "Noto Sans JP", Noto Snas, sans-serif;
$font-size-logo-sp:16px;
$font-size-logo-pc:40px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-title-lv1:56px;
$font-size-title-lv2:48px;
$font-size-title-lv3:32px;
$font-size-title-lv4:28px;

// スペーシング
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
