@use 'base/_variables.scss' as *;    // 変数（色、フォントサイズ、ブレイクポイントなど）
@use 'base/_functions.scss' as *;    // SCSS関数（pxをremに変換するなど）
@use 'base/_mixins.scss' as *;

.contents-title-box{
  margin: 32px 0;
  text-align: center;
}

.contents-title{
  font-size: $font-size-title-lv4;
  @include min(tablet){
    font-size: $font-size-title-lv4;
  }
  @include min(pc){
    font-size: $font-size-title-lv3;
  }
}

.contents-box__tag-title{
  border-bottom: 1px solid #333;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 10px;
}
.contents-box__tags{
  justify-content: center;
  margin: 16px 0;
}

.contents-box__tag{
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &.is-active {
    background-color: #333;
    color: #fff;
  }
}
