@use 'base/_variables.scss' as *;    // 変数（色、フォントサイズ、ブレイクポイントなど）
@use 'base/_functions.scss' as *;    // SCSS関数（pxをremに変換するなど）
@use 'base/_mixins.scss' as *;

.hero{
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  &__visual{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: beige;

    img.hero__image{
      width: 100%;
      height: 70vh;
      display: block;
      object-fit: cover;
    }
  }

  &__overlay{
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    color: $color-primary;
    border-radius: 20px;

    &-text-en{
      font-size: $font-size-xxl;
      font-weight: 700;
    }

    &-text-jp{
      font-size: $font-size-lg;
      font-weight: 500;
      margin-top: 8px;
    }
  }

  &__content{
    position: absolute;
    bottom: 0;
    width: 250px;
    background-color: $color-background-1st;
    padding: 16px;
    border-radius: 0px 16px 0 0;

    &::before{
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-color: $color-background-1st;
      -webkit-mask-image: radial-gradient(circle 20px at top right,transparent 20px,#000 16px);
      mask-image: radial-gradient(circle 20px at top right,transparent 20px,#000 16px);
      overflow: hidden;
    }
    &::after{
      content: '';
      position: absolute;
      right: -20px;
      bottom: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      -webkit-mask-image: radial-gradient(circle 20px at top right,transparent 20px,#000 16px);
      mask-image: radial-gradient(circle 20px at top right,transparent 20px,#000 16px);
    }
  }

  &__category{
    font-size: $font-size-sm;
    color: $color-accent;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__title{
    font-size: $font-size-md-plus;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__text{
    font-size: $font-size-sm;
    line-height: 1.6;
    color: $color-primary;
  }
}
