@use 'abstracts/_variables.scss' as *;

.hero {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;

  @include min(sm){
    max-width: 450px;
  }


  &__content {
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: center;
    color: $primary-color;
    width: 100%;
    margin: 64px auto 0;
  }

  &__title {
    @include font-size("xxxl");
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  &__decription {
    @include font-size("md");
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 1.5px;
  }

  &__image {
    position: relative;
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include min(sm){
      max-width: 450px;
    }



   & img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 画像を枠いっぱいにフィットさせる
      object-position: center top;
      // transform: scale(1.2);
    }
  }
}


// メッセージエリア
.message{

  &__hero{
    display: flex;
    margin: 0 20px;
    justify-content: flex-end;
  }

  &__title{
    margin-top: 30px;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;

    &-text{
      @include font-size("xl");
      color: $primary-color;
      font-weight: 400;
      line-height: 1.4;

      @include min(ssm) {
        @include font-size("xxl");
     }
    }
  }

  &__line{
    background-color: $primary-color;
    width: 1px;
    height: 100px;
    margin: 10px 0;
  }

  &__icon{
    width: 30px;
    height: 30px;
  }

  &__image{
    border-radius: 2px;
    overflow: hidden;
    width: 80%;
    height: 60vh;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay{
    padding: 10px 40px;
    margin: 0 20px;
    width: fit-content;
    transform: translate(10px , -20px);

    @include min(ssm) {
      margin: 0;
      transform: translate(0 , -20px);
   }

    &-text{
      color: $secondary-color;
      @include font-size("xl");

      @include min(ssm) {
        @include font-size("xxl");
      }

    }

  }

  &__description{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 40px;
    margin: 0 auto;

    &-title{
      color: $primary-color;
      line-height: 1.5;
      letter-spacing: 2px;
      font-weight: 700;
      @include font-size("xl")
    }

    &-text{
      color: $text-color;
      @include font-size("md");
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.1px;
    }
  }
}

.pizzapride{
  height: 100%;
  // &__content{}
  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    & img{

      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &__description{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title{
    // padding: ;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-text{
      color: $primary-color;
      @include font-size("lg");
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.05px;
    }
  }
}

// Contactエリア
.contact{

  &_border{
    width: 5%;
    height: 6px;
    background-color: $secondary-color;
    margin: 0 auto 36px;
  }

  &-title{

    &__text{
      color: $secondary-color;
      @include font-size("xxl");
      font-weight: 700;
      text-align: center;
      line-height: 1.4;
    }
  }

  &__description{
    padding: 18px 0;
    width: 75%;
    margin: 0 auto;

    &-text{
      color: $secondary-color;
      @include font-size("sm");
      font-weight: 700;
      line-height: 2;
      letter-spacing: 0.1px;
    }
  }
}

// メニューエリア
.menu{

  &__main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  &__list{
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
    &-image{
      overflow: hidden;

      & img{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-text{
      @include font-size("sm");
      font-weight: 700;
      line-height: 1.2;
    }

    &-value{
      @include font-size("sm");
      font-weight: 500;
      line-height: 1.2;
    }
  }
}

// Pizza in The house
.house{

  &__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      // margin: 0 auto;
    }
  }

  &__description{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title{
    display: flex;
    flex-direction: column;
    gap:4px;
    padding-top: 16px;

    &-number{
      color: $primary-color;
      @include font-size("md");
      font-weight: 800;
      font-family: $font-en;
    }

    &-text{
      color: $text-color;
      @include font-size("lg");
      font-weight: 700;
      line-height: 1.6;
    }
  }

  &__body-text{
    color: $text-color;
    @include font-size("sm");
    font-weight: 700;
    line-height: 2;;
  }
}

.news{

  &__list{
    // background-color: red;
  }
}

.accordion {
  margin: 1px 0;
  background-color: #f9f9f9;
  // border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;

  &-summary {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f9f9f9;
    list-style: none;

    /* Safariのデフォルトのアイコン削除 */
    &::-webkit-details-marker {
      display: none;
    }

    &-box {
      width: 75%;
    }

    &-date {
      @include font-size("md");
      font-weight: 400;
    }

    &-text {
      @include font-size("md");
      font-weight: 500;
      line-height: 1.4;
    }

    /* ▼ ボタン */
    .mark {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
        content: "▼"; /* 初期状態（閉じている時） */
        font-size: 5px;
      }
    }
  }

  /* 開いた時のアイコンを変更 */
  &[open] .mark::before {
    content: "▲";
    font-size: 5px;
  }

  /* アコーディオンコンテンツ */
  &-content {
    padding: 12px;
    @include font-size("sm");
    font-weight: 400;
    line-height: 1.4;
    display: none; /* デフォルトで非表示 */

    /* 開いた時に表示 */
    details[open] & {
      display: block;
    }
  }
}

.faq{


  &__list{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item{
      // display: flex;
      // flex-direction: column;
      // // gap: 24px;
      padding-bottom: 32px;
      border-bottom: 1px solid $primary-color;
   }

   &-title{
    display: flex;
    flex-direction: row;
    gap: 6px;
   }
  }
  &__title-text{
    color: $primary-color;
    @include font-size("lg");
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.05;
  }

  &__q-icon{
    color: $primary-color;
    // margin-right: 6px;
    @include font-size("xl");
    font-weight: 400;
    // line-height: 1.3;
    // letter-spacing: 0.05;
   }
}

.shopdata{


  &__table{
    width: 85%;
    margin: 0 auto;

    &-item{
      display: table;
      // justify-content: space-between;
      @include font-size("sm");
      padding-bottom: 20px;
    }

    &-title{
      border-left: 2px solid $primary-color;
      padding: 0 5px 0 10px;
      text-align: left;
      height: 50px;
      width: 210px;
    }
    &-text{
      width: 75%;
    }
  }
}
