@use 'abstracts/_variables.scss' as *;
.hero {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;

  &__content {
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: center;
    color: $primary-color;
    width: 100%;
    margin: 64px auto 0;
  }

  &__title {
    @include font-size("xxxl");
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  &__decription {
    @include font-size("md");
    font-weight: 700;
    color: $text-color;
    letter-spacing: 1.5px;
  }

  &__image {
    position: relative;
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    height: 160vh;
    overflow: hidden;

   & img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 画像を枠いっぱいにフィットさせる
      object-position: center top;
      // transform: scale(1.2);
    }
  }
}


// メッセージエリア
.message{
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  background-color: $secondary-color;

  &__hero{
    display: flex;
    margin: 0 20px;
    justify-content: flex-end;
  }

  &__title{
    margin-top: 30px;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;

    &-text{
      color: $primary-color;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.15;
    }
  }

  &__line{
    background-color: $primary-color;
    width: 1px;
    height: 100px;
    margin: 10px 0;
  }

  &__icon{
    width: 30px;
    height: 30px;
  }

  &__image{
    border-radius: 2px;
    overflow: hidden;
    width: 80%;
    height: 60vh;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay{
    padding: 10px 40px;
    margin: 0 20px;
    width: fit-content;
    transform: translate(10px , -20px);
    &-text{
      color: $secondary-color;
      @include font-size("xl");
    }
  }

  &__description{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 40px;
    margin: 0 auto;

    &-title{
      color: $primary-color;
      line-height: 1.5;
      letter-spacing: 2px;
      font-weight: 700;
      @include font-size("xl")
    }

    &-text{
      color: $text-color;
      @include font-size("md");
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.1px;
    }
  }
}

.pizzapride{
  height: 100%;
  &__content{}
  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    & img{

      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &__description{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title{
    // padding: ;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-text{
      color: $primary-color;
      @include font-size("lg");
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.05px;
    }
  }
}
