@use 'base/_variables.scss' as *;


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  color: $color-primary;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }

p {
  margin-bottom: $spacing-md;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover{
    opacity: 0.7;
  }
}
