// カラーパレット
$color-primary: #000;
$color-secondary: #eee;
$color-accent: #e74c3c;
$color-text: #000;
$color-background-1st: #fff;
$color-background-2nd:#eee;
$color-border: #747474;

// フォント
$font-base: "Noto Sans JP",sans-serif;
$font-logo: "Rampart One", sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-md-plus: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

// スペーシング
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// ブレイクポイント
$breakpoints: (
  sp: 767px,
  tablet: 768px,
  tablet-pc: 1279px,
  pc:1280px
);

// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
